@media (max-width: 800px) {
  label.toggle {
    top: 10px !important;
    left: 10px !important;
  }

  #forumsBar li.floating {
    top: -20px !important;
  }

  #forumsBar li.floating.alerts {
    left: 270px !important;
  }

  #forumsBar li.floating.convos {
    left: 320px !important;
  }
}

.alertNumber {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 11px;
  color: #FFF;
  background-color: #d42236;
  min-width: 12px;
  border-radius: 3px;
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
}

.modLink {
  position: absolute !important;
  left: 50px !important;
}

footer {
  position: initial !important;
}

#forumsBar {
  width: 210px;
  position: absolute;
  top: 5px;
  right: 0;
  height: 40px;
  z-index: 9999;
}

#forumsBar .icon {
  width: 40px;
  height: 40px;
  padding: 0px !important;
  margin: 0px !important;
}

#forumsBar a {
  padding: 0px !important;
  margin: 0px !important;
}

#forumsBar li {
  padding: 0px !important;
  margin: 0px !important;
  margin-left: 10px !important;
  display: inline-block !important;
}

.itemCount {
  border-radius: 5px !important;
  display: inline-block !important;
  background-color: #00d486 !important;
  color: white !important;
}

.adminLink {
  position: absolute;
  color: #000 !important;
}

@-ms-viewport {
  width: device-width;
}


body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: Barlow;
}

.container {
  width: 970px;
  max-width: none !important;
}

body {
  padding-top: 40px;
  max-width: none !important;
}

.container {
  width: 1020px;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 4em;
}


a .toggle,
#toggle {
  opacity: 0;
  transition: opacity .2s
}


@media (max-width: 1365px) {
  #forumsBar li.floating {
    position: absolute;
    top: 10px;
    z-index: 9999;
    display: block !important;
  }

  #forumsBar li.floating.alerts {
    left: 310px;
  }

  #forumsBar li.floating.convos {
    left: 360px;
  }

  .container {
    padding-left: 50px;
    margin-left: -20px;
    width: 943px;
  }

  .navbar-collapse {
    width: auto !important;
  }

  #forumsBar {
    width: 110px;
    position: static;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    height: 80px;
    z-index: 9999;
  }

  html {
    height: 100%;
    overflow-y: hidden !important;
  }

  body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .toggle,
  #toggle {
    opacity: 1
  }

  html {
    height: 100%
  }

  body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden
  }

  #container {
    display: flex;
    min-height: 100%
  }

  input#toggle {
    position: fixed;
    opacity: 0
  }

  label.toggle {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 9999;
    display: block;
    width: 42px;
    height: 42px;
    background: transparent url("../data/img/gui/menu.png");
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    transition: transform .4s;
    content: "";
    -webkit-tap-highlight-color: transparent;
  }

  input#toggle:checked~label {
    background: transparent url("../data/img/gui/close.png");
    transform: translate3d(210px, 0, 0)
  }

  #content {
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform .4s
  }

  input#toggle:checked~#content {
    transform: translate3d(150px, 0, 0)
  }

  input#toggle:checked~.navbar {
    transform: translate3d(0, 0, 0)
  }

  input#toggle:checked~.navbar .menu li {
    width: 100%
  }

  #nav li {
    display: block
  }

  main input#toggle:checked~#loading {
    transform: translate(150px, 0)
  }
}

/**
 * Nav Bar Social Media icons
 */
.nav-media-discord {
  z-index: 99999;
  position: fixed;
  top: 0.6em;
  left: 0.5em;
  font-size: 1.25em;
}

.nav-media-discord a {
  text-decoration: none;
}

.nav-media-discord a .fab {
  color: rgb(137, 118, 101);
}

.nav-media-discord a .fab:hover {
  color: rgb(109, 94, 80);
}

.nav-media {
  z-index: 99999;
  position: fixed;
  top: 0.5em;
  left: 2.5em;
  font-size: 1.25em;
  padding-left: 0.5em;
}

.nav-media a {
  text-decoration: none;
  padding-right: 0.5em;
}

.nav-media a .fab {
  color: rgb(137, 118, 101);
}

.nav-media a .fab:hover {
  color: rgb(109, 94, 80);
}

@media (max-width: 1365px) {
  .nav-media {
    display: none;
  }

  .nav-media-discord {
    display: none;
  }
}

/**
 * Move compass down for non-mobile
 */
@media (min-width: 1366px) {
  .compass {
    padding-top: 60px;
  }
}

.wLabel-span {
  position: relative;
  left: -50%;
  top: -8px;
  white-space: nowrap;
  font-weight: bold;
  font-family: 'Barlow', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 3px 3px 3px #000;
  text-align: center;
}

/* 
NAVBAR
*/

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  padding: 0 40px;
  box-sizing: border-box;
  background: #1e2325;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 2px solid #ff7c3d;
}

.navbar-nav {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  height: inherit;
  margin: 0;
  align-items: center;
}

.navbar-nav {
  display: flex;
  height: inherit;
}

.navbar-nav li {
  height: 100%;
  display: flex;
  padding: 8px 20px;
  align-items: center;
  transition: 0.3s all;
  align-content: center;
}

.navbar-nav li:hover {
  background: #151819;
}

.sprite-navbar-button {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}

.navbar-nav .active {
  background: #151819;
}

.media-button {
  color: #fff;
  display: flex;
  text-decoration: none;
}

.media-buttons {
  display: flex;
  box-sizing: border-box;
  padding: 10px 0;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.media-button:first-of-type {
  margin-right: 20px;
}

.media-button i {
  font-size: 25px;
}

.media-button .fa-discord {
  margin-top: 2px;
}

@media (max-width: 1365px) {
  .navbar {
    transform: translateX(-200px);
    height: 100%;
    padding: 20px 0;
    flex-wrap: wrap;
    transition: transform .4s;
    width: 200px;
  }

  .media-buttons {
    width: 100%;
    justify-content: center;
  }

  .navbar-nav {
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .navbar-nav li {
    height: auto;
    width: 100%;
  }
}